<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.alma.ihm.gmapszombiesmasher"
    android:versionCode="2"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <supports-screens android:resizeable="true"/>

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".activities.main.GMapsZombieSmasher"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.settings.SettingPreferenceActivity"
            android:label="@string/settings" >
        </activity>
        <activity
            android:name=".activities.play.PlayActivity"
            android:label="@string/play"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.achievements.AchievementsActivity"
            android:label="@string/achievements"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.game.GameActivity"
            android:label="@string/game"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".activities.play.SelectWorldInMap"
            android:label="@string/select_world_in_map"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".utils.GPSUtilities"
            android:label="@string/gps_utilities"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".activities.play.EditWorldInMap"
            android:label="@string/edit_world_in_map"
            android:screenOrientation="landscape" >
        </activity>

        <service android:name=".sounds.BackgroundMusicService" />
    </application>

</manifest>